<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>Year</th>
    <th>Directed By</th>
  </thead>
  <tbody>
    <% @projects.includes(:director).each do |film| -%>
    <tr>
      <td>
        <%= link_to film.title, film %>
      </td>
      <td>
        <%= film.end_date.year %>
      </td>
      <td>
        <%= link_to person_listing(film.director), film.director %>
      </td>
    </tr>
    <% end -%>
  </tbody>
</table>
