<h2>Upcoming Auditions</h2>
<% @films.each do |film,auditions| %>
	<div class="film">
		<%= render :partial => "shared/film_listing", :locals => {:film => film} %><br />
		<strong>Auditions:</strong> <%= format_screenings(film.auditions) %><br />
		Slots available: <%= "#{auditions.select{|a| a.person_id == nil}.count} / #{auditions.count}" %><br />
		<%= link_to "Signup Here", film_auditions_path(film) %>
	</div>
	<br />
<% end %>
<% if @films.blank? %>
	Sorry, there are no upcoming auditions at this time. Please check back soon!
<% end %>