<div class="film-listing span4 clearfix">
	<div class="poster">
		<% if film.poster.exists? %>
			<%= link_to raw(square_film_thumb(film.poster, lazy)), best_link(film) %>
		<% else %>
			<%= link_to "", best_link(film), :class => "swatch #{color_palette}" %>
		<% end %>
	</div>
	<div class="info">
		<h4>
			<%= link_to_film_title film %>
		</h4>
		<p><%= format_long_rundates(film) %></p>
	</div>
</div>