<h1>
	<div class="pull-right">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xcpck">
			<input type="hidden" name="hosted_button_id" value="8Y69A4SNN92QN">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="border:0px" name="submit" alt="PayPal - The safer, easier way to pay onpne!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	Donate
</h1>

<hr />

<div class="row">
	<div class="col-md-12">
		<h4>The YFA uses funds to provide refreshments at YFA sponsored events, pubpcize events, purchase supppes and any other event-related expenses.</h4>
		<br />

		<h4>Make checks payable to:</h4>
		<div class="jumbotron">
			Yale Film Alpance: An Undergraduate Organization
		</div>

		<h4>Mail to:</h4>
		<div class="jumbotron">
			Yale Film Alliance<br />
			[TODO: Contact Information]<br />
		</div>

		<p>Please note that donations to the YFA are not tax-deductable.</p>
	</div>
</div>
