<tr>
  <td width="10px">
  	<%= link_to_remove_fields "&times;".html_safe, f %>
  </td>

  <td>
    <%= f.text_field :name, :value => f.object.person.try(:display_name), :placeholder => "Student Name", :class => "form-control autocomplete-person" %>
    <%= f.hidden_field :person_id, :class => "person_id" %>
  </td>
</tr>
