<tr>
  <td width="10px">
  	<%= link_to_remove_fields "&times;".html_safe, f %>
  </td>

  <td>
    <%= f.text_field :date, :class => "date", :value => long_date(f.object.starts_at), :class => "form-control", :placeholder => "Date" %>
  </td>

  <td>
    <%= f.text_field :time, :class => "time", :value => time(f.object.starts_at), :class => "form-control", :placeholder => "Time" %>
  </td>
</tr>
