div.container.pages.index {

  .carousel-control {
    z-index: 10;

    .glyphicon-chevron-right,
    .glyphicon-chevron-left {
      margin-top: 105px;
    }
    
  }

  div.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    right: 0;
    padding-top: 0px;

    div.carousel-title, div.carousel-body {
      margin: 0px;
    }

    div.carousel-title {
      font-size: 12pt;
      font-weight: bold;
      padding-top: 5px;
      a {
        color: white;
        &:hover {
          color: $hover-color;
        }
      }
    }

    div.carousel-body {
      font-size: 10pt;
      padding-bottom: 5px;
    }

  }

  div#upcoming-productions {
    border: 1px solid #aaa;
    padding: 0px;
    margin: 0px;
    h3 {
      border-bottom: 1px solid #aaa;
      margin: 0px;
      padding: 10px 20px;
    }
    div.productions {
      padding: 0px;
      margin: 0px;
      height: 282px;
      overflow-x: hidden;
      overflow-y: scroll;
      div.production {
        border-bottom: 1px solid #aaa;
        padding: 10px;        
      }
    }
    div.footer {
      background-color: #ccc;
      border-top: 1px solid #aaa;
      text-align: right;
      padding: 10px;
    }
  }
  
}
