div.layout.navbar {
  border-radius: 0px;
}

div.layout.footer {
  background-color: #aaa;
  color: #fff;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

div.container {
  
  div.controls {
    padding: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom: 40px;
  }

  div.controls.unpadded {
    margin-bottom: 0px;
  }

  div.grid.row {
    padding: 20px;
    padding-bottom: 40px;
    div.col-md-4 {
      padding-bottom: 20px;
      &:nth-of-type(3n+1) {
        clear: both;
      }
    }
  }

}

.best-in-place-control {
  display: inline;
}

input.form-control {
  height: auto;
}
