div#yale-banner {
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  div.title {
    padding-top: 10px;
    font-size: 28pt;
  }

  div.search-form {
    padding: 10px;
    padding-top: 10px;
    text-align: right;
    form {
      width: 100%;
      input.search-control {
        width: 75%;
      }
    }
  }
}

div.layout.navbar {
  border-radius: 0px;
}

div.layout.footer {
  border-top: 1px solid #2E3F4F;
  background-color: #fff;
  color: #aaa;
  margin-top: 20px;
  padding: 18px 0px;

  div.yale-font {
    font-size: 24pt;
    color: #2E3F4F;
  }

}

div.container {
  
  div.controls {
    padding: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom: 40px;
  }

  div.controls.unpadded {
    margin-bottom: 0px;
  }

  div.grid.row {
    padding: 20px;
    padding-bottom: 40px;
    div.col-md-4 {
      padding-bottom: 20px;
      &:nth-of-type(3n+1) {
        clear: both;
      }
    }
  }

}

.carousel-control {

  .glyphicon-chevron-right,
  .glyphicon-chevron-left {
    margin-top: 105px;
  }
  
}

div.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  left: 0;
  right: 0;
  padding-top: 0px;

  div.carousel-title, div.carousel-body {
    margin: 0px;
  }

  div.carousel-title {
    font-size: 14pt;
    font-weight: bold;
    padding-top: 5px;
  }

  div.carousel-body {
    padding-bottom: 5px;
  }

}


.best-in-place-control {
  display: inline;
}

input.form-control {
  height: auto;
}
